/**
 * File Name: detailedInformation.css
 * Purpose: This file contains the styling for the detailed information.html page.
 * Author: Ng Shien Ming
 * Team: 154
 * Last Modified: 15/10/2021
 */

/* Background color of body */
body
{
  background-color: #C9F5D3;
}

/* Styling of the title bar */
.title
{
  background-color: #FCED97;
  border-top: solid;
  border-bottom: solid;
  padding-left: 20px;
}

/* Logo */
#getawaybloomlogo
{
  height: 64px;
}

/* Specify size of map */
#map
{
  height: 500px; 
  width: 100%
}

/* Enable scrolling and specify height of the poi display */
.poiContainer
{
  overflow: scroll;
  height: 280px;
}